extends ../layout

block content
link(href='/stylesheets/navbar.css' rel='stylesheet')
  link(href='/vendor/icofont/icofont.min.css' rel='stylesheet')
  header#header.fixed-top
    .container.d-flex
      .logo.mr-auto
        a(href='/')
          img.img-fluid(src='/img/logo.png' width='160px' alt='')
      nav.nav-menu.d-none.d-lg-block
        ul
          li
            a(href='/') Home
          li.active
            a(href='/lobby') Lobby
          if user
            li
              a(href='/signout') Sign Out
          else
            li
              a(href='/signin') Sign In
            li
              a(href='/signup') Sign Up
  link(href='/stylesheets/landing.css' rel='stylesheet')
  section#getStarted.team
    .container.register
      .section-title(data-aos='fade-up')
      .row
        .col-md-12.register-right
          #myTabContent.tab-content
            #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
              h3.register-heading Sign Up
              form.row.register-form.justify-content-center(action='/signup' id='form-auth' method='POST')
                .col-md-8
                  .form-group
                    input.form-control(id='input-username' class='form-control' name='username' value='' type='text' placeholder='Username')
                  .form-group
                    input.form-control(id='input-password' name='password' value='' type='password' placeholder='Password')
                  .form-group
                    input(id='input-password-match' class='form-control mb-3' value='' type='password' placeholder='Repeat your password')
                  if error
                    div(class='alert alert-danger' id='validation-error')=error
                  div(class='alert alert-warning' id='validation-alert')
                  input.btn.btnRegister(type='submit' value='Sign Up')
                  a.btnRegister.btn(href='/lobby') Back


  script(src='/javascripts/bundles/validators.bundle.js')