extends ../layout
block content
  link(href='/stylesheets/landing.css' rel='stylesheet')
  section#getStarted.team
    .container.register
      .section-title(data-aos='fade-up')
      .row
        .col-md-12.register-right
          #myTabContent.tab-content
            #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
              h3.register-heading Sign In
              form.row.register-form.justify-content-center(action='/signin' id='form-auth' method='POST')
                .col-md-8
                  .form-group
                    input.form-control(id='input-username' class='form-control' name='username' value='' type='text' placeholder='Username')
                  .form-group
                    input.form-control(id='input-password' name='password' value='' type='password' placeholder='Password')
                  if error
                    div(class='alert alert-danger' id='validation-error')=error
                  div(class='alert alert-warning' id='validation-alert')
                  input.btn.btnRegister(type='submit' value='Sign up')
                  a.btnRegister.btn(href='/lobby') Back


  script(src='/javascripts/bundles/validators.bundle.js')