extends layout

block content
  div(class='container-fliud mx-md-5')
    div(class='text-center')
      h3(class='display-4')=title
      img(src='https://i.ya-webdesign.com/images/transparent-face-png-8.png', class='img-fluid', width='200')
    ul(class='list-group my-3')
    each quote in quotes
      li(class='list-group-item')= quote.text