body {
  background-color: #E8E9EB;
  overflow-x: hidden;
}

.card {
  background-color: #1f1e1e;
  color: #ffffff
}
.card-body > ul {
  color: #1f1e1e;
}

.modal-content {
  background-color: #1f1e1e;
}

.table {
  color: #ffffff
}