extends ../layout
block content
  link(href='/vendor/icofont/icofont.min.css' rel='stylesheet')
  link(href='/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='/vendor/venobox/venobox.css' rel='stylesheet')
  link(href='/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='/vendor/aos/aos.css' rel='stylesheet')

  link(href='/stylesheets/landing.css' rel='stylesheet')
  link(href='/stylesheets/navbar.css' rel='stylesheet')
  // ======= Header =======
  header#header.fixed-top
    .container.d-flex
      .logo.mr-auto
        a(href='/')
          img.img-fluid(src='/img/logo.png' width='160px' alt='')
      nav.nav-menu.d-none.d-lg-block
        ul
          li.active
            a(href='#hero') Home
          li.drop-down
            a(href='#about') About
            ul
              li
                a(href='#about') About Us
              li
                a(href='#team') Team
          li
            a(href='#contact') Contact
          if user
            li.get-started
              a(href='/lobby') Lobby
          else
            li.get-started
              a(href='/lobby') Get Started
      // .nav-menu
      //
        <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </div>
  // End Header
  // ======= Hero Section =======
  section#hero
    .container
      .row
        .col-lg-6.pt-5.pt-lg-0.order-2.order-lg-1.d-flex.flex-column.justify-content-center(data-aos='fade-up')
          div
            h1 Welcome to The Risk Game
            h2
              | Come Chat with friends while playing!
              br
              |  - Developed by:
              strong
                span Risky Savages
            a.btn-get-started.scrollto(href='/lobby') Go to Lobby
        .col-lg-6.order-1.order-lg-2.hero-img(data-aos='fade-left')
          img.img-fluid(src='/img/continents.png' alt='')
  // End Hero
  main#main
    // ======= About Section =======
    section#about.about
      .container
        .row
          .col-lg-6(data-aos='zoom-in')
            img.img-fluid(src='/img/about.jpg' alt='')
          .col-lg-6.d-flex.flex-column.justify-contents-center(data-aos='fade-left')
            .content.pt-4.pt-lg-0
              h3 Learn more about us
              p.font-italic
                | We meet during a class while deciding to work on a project that many know but
                | cannot play it by themselves, thats why we came up with RISK on your computer!
              ul
                li
                  i.icofont-check-circled
                  |  We had in mind you would want to talk to others so we included
                  |                   it.
                li
                  i.icofont-check-circled
                  |  We also thought you would want to keep your scores, so you can
                  |                   create an account!
                li
                  i.icofont-check-circled
                  |  Lastly we wanted you to have the freedom to take everyones
                  |                   terretory, so go ahead!
              p
                | We are konwn as the Risky Savages!
    // End About Section
    // ======= Cta Section =======
    section#cta.cta
      .container
        .row(data-aos='zoom-in')
          .col-lg-9.text-center.text-lg-left
            h3 Public Chat Lobby
            p
              | Talk to people interested in the same game you are, battle and see who can risk it all.
          .col-lg-3.cta-btn-container.text-center
            a.cta-btn.align-middle(href='/lobby') Lets Chat!
    // End Cta Section
    // ======= Team Section =======
    section#team.team
      .container
        .section-title(data-aos='fade-up')
          h2 Team
          p
            | Below you will see a list of the Team Members who help get this website accomplished.
          hr
        .row
          .col-lg-3.col-md-6
            .member(data-aos='zoom-in')
              .pic
                img.img-fluid(src='https://avatars3.githubusercontent.com/u/37631459' alt='')
              .member-info
                h4 Ricardo Colin
                span Front-end Developer
          .col-lg-3.col-md-6
            .member(data-aos='zoom-in' data-aos-delay='100')
              .pic
                img.img-fluid(src='https://avatars0.githubusercontent.com/u/38078131' alt='Programmer' title='Always Coding')
              .member-info
                h4 Artem Akatev
                span Back-end Developer
          .col-lg-3.col-md-6
            .member(data-aos='zoom-in' data-aos-delay='200')
              .pic
                img.img-fluid(src='/img/team/team-3.jpg' alt='')
              .member-info
                h4 Mohammad Ahsan
                span Back-end Developer
          .col-lg-3.col-md-6
            .member(data-aos='zoom-in' data-aos-delay='200')
              .pic
                img.img-fluid(src='https://scontent.fsjc1-3.fna.fbcdn.net/v/t1.0-9/17342876_1677661362264010_1246932922152319516_n.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_oc=AQliZWiM44BMdVzrce5i_04DLdLkRj_a9ovLWhYbjo0j48seppPMgtcgWqyRi2G0n0w&_nc_ht=scontent.fsjc1-3.fna&oh=8ece6b23c59597f02638570c6c1044f9&oe=5ED5720D' 
                              alt=''
                              title='Always Eating')
              .member-info
                h4 Ryan Shu
                span Back-end Developer
    // End Team Section
    // ======= Register/Login =======
    //- section#getStarted.team
    //-   .container.register
    //-     .section-title(data-aos='fade-up')
    //-       h2 Get Started!
    //-       p Below you can Login or Register an account if you do not have one yet!
    //-       hr
    //-     .row
    //-       .col-md-12.register-right
    //-         ul#myTab.nav.nav-tabs.nav-justified(role='tablist')
    //-           li.nav-item
    //-             a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Sign up
    //-           li.nav-item
    //-             a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Login
    //-           li.nav-item
    //-             a#reset-tab.nav-link(data-toggle='tab' href='#reset' role='tab' aria-controls='reset' aria-selected='false') Reset
    //-         #myTabContent.tab-content
    //-           #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
    //-             h3.register-heading New User Form
    //-             .row.register-form
    //-               .col-md-6
    //-                 .form-group
    //-                   input.form-control(type='text' placeholder='First Name *' value='')
    //-                 .form-group
    //-                   input.form-control(type='text' placeholder='Last Name *' value='')
    //-                 .form-group
    //-                   input.form-control(type='password' placeholder='Password *' value='')
    //-                 .form-group
    //-                   input.form-control(type='password' placeholder='Confirm Password *' value='')
    //-                 .form-group
    //-                   .maxl
    //-                     label.radio.inline
    //-                       input(type='radio' name='gender' value='male' checked='')
    //-                       span  Male
    //-                     label.radio.inline
    //-                       input(type='radio' name='gender' value='female')
    //-                       span Female
    //-               .col-md-6
    //-                 .form-group
    //-                   input.form-control(type='email' placeholder='Your Email *' value='')
    //-                 .form-group
    //-                   input.form-control(type='text' placeholder='Username *' value='')
    //-                 .form-group
    //-                   select.form-control
    //-                     option.hidden(selected='' disabled='') Please select your Sequrity Question
    //-                     option What is your Birthdate?
    //-                     option What is Your old Phone Number
    //-                     option What is your Pet Name?
    //-                 .form-group
    //-                   input.form-control(type='text' placeholder='Enter Your Answer *' value='')
    //-                 input.btnRegister(type='submit' value='Sign up')
    //-           #profile.tab-pane.fade.show(role='tabpanel' aria-labelledby='profile-tab')
    //-             h3.register-heading Welcome back!
    //-             .row.register-form
    //-               .col-md-6
    //-                 .form-group
    //-                   input.form-control(type='email' placeholder='Email *' value='')
    //-               .col-md-6
    //-                 .form-group
    //-                   input.form-control(type='password' placeholder='Password *' value='')
    //-                 a(href='#reset') Forgot my password
    //-                 input.btnRegister(type='submit' value='Login')
    //-           #reset.tab-pane.fade.show(role='tabpanel' aria-labelledby='reset-tab')
    //-             h3.register-heading Reset Password?
    //-             .row.register-form
    //-               .col-md-12
    //-                 .form-group.text-center
    //-                   .input-group
    //-                     span.input-group-addon
    //-                       i.glyphicon.glyphicon-envelope.color-blue
    //-                     input#emailInput.form-control(placeholder='email address' type='email' oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required='')
    //-                 input.btnRegister(value='Send My Password' type='submit')
    // Register/Login
    // ======= Contact Section =======
    section#contact.contact.section-bg
      .container
        .section-title(data-aos='fade-up')
          h2 Contact Us
          hr
        .row
          .col-lg-12.mt-5.mt-lg-0.d-flex.align-items-stretch
            form.php-email-form(action='forms/contact.php' method='post' role='form')
              .form-row
                .form-group.col-md-6
                  label(for='name') Your Name
                  input#name.form-control(type='text' name='name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                  .validate
                .form-group.col-md-6
                  label(for='name') Your Email
                  input#email.form-control(type='email' name='email' data-rule='email' data-msg='Please enter a valid email')
                  .validate
              .form-group
                label(for='name') Subject
                input#subject.form-control(type='text' name='subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                .validate
              .form-group
                label(for='name') Message
                textarea.form-control(name='message' rows='10' data-rule='required' data-msg='Please write something for us')
                .validate
              .mb-3
                .loading Loading
                .error-message
                .sent-message Your message has been sent. Thank you!
              .text-center
                button(type='submit') Send Message
    // End Contact Section
  // End #main
  // ======= Footer =======
  footer#footer
    .container
      .copyright
        | &copy; Copyright
        strong
          span Risky Savages
        | . All Rights Reserved
  // End Footer
  a.back-to-top(href='#')
    i.bx.bxs-up-arrow-alt
  // Vendor JS Files
  script(src='/vendor/php-email-form/validate.js')
  script(src='/vendor/isotope-layout/isotope.pkgd.min.js')
  script(src='/vendor/venobox/venobox.min.js')
  script(src='/vendor/owl.carousel/owl.carousel.min.js')
  script(src='/vendor/aos/aos.js')
  script(src='/javascripts/bundles/landing.bundle.js')
  script(src='/javascripts/bundles/navbar.bundle.js')

  // jrob was here