extends ../layout

block content
  div(class='container-fliud m-5')
    h3(class='display-4')=title
    if user
      h2(class='display-5')='Welcome ' + user.username
      p
        a(href='/signout') Sign Out
      p
        a(href='/game') Start a New Game!
    else
      p
        a(href='/signin') Sign In
      p
        a(href='/signup') Sign Up
