extends ../layout

block content
  link(href='/vendor/icofont/icofont.min.css' rel='stylesheet')
  link(href='/stylesheets/landing.css' rel='stylesheet')
  link(href='/stylesheets/navbar.css' rel='stylesheet')
  header#header.fixed-top
    .container.d-flex
      .logo.mr-auto
        a(href='/')
          img.img-fluid(src='/img/logo.png' width='160px' alt='')
      nav.nav-menu.d-none.d-lg-block
        ul
          li.active
            a(href='/lobby') Lobby
          if user
            li
              a(href='/signout') Sign Out
          else
            li
              a(href='/signin') Sign In
            li
              a(href='/signup') Sign Up

  div(class='lobby-container container-fliud my-5')
    h3(class='display-4')=title
    if user
      h2(class='display-5')='Welcome ' + user.username +'!'
    else
      h2(class='display-5') Please authenticate to start playing!
    if error
      .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        strong=error
        button.close(type='button' data-dismiss='alert' aria-label='Close')
          span(aria-hidden='true') &times;

    .row.my-3
      .col-md-4.order-md-2.mb-4
        div(id='chat')  
      .col-md-8.order-md-1
        if user
          div(id='games-table')
          script(src='/javascripts/bundles/lobby.bundle.js')
        else
          .alert.alert-warning.mt-5.px-4.py-5(role='alert') Only authenticated users can see games in progress!


  footer#footer
    .container
      .copyright
        | &copy; Copyright
        strong
          span Risky Savages
        | . All Rights Reserved
  script(src='/javascripts/bundles/chat.bundle.js')
  script(src='/javascripts/bundles/navbar.bundle.js')