extends ../layout

block content
  div(class='container-fliud m-5')
    h3(class='display-4')=title
    p
      a(href='/signin') Sign In
      a(href='/signup') Sign Up
    p
      a(href='/game') Start a New Game!